	$HELV: 					"Helvetica", sans-serif;
	$FRL: 					"Frank Ruhl Libre", serif;
	$FSB:					"Faldore-SemiBold", sans-serif;
	$FR:					"Faldore-Regular", sans-serif;
	$FL:					"Faldore-Light", sans-serif;
	$FBOO:					"Faldore-Book", sans-serif;

	$blue:					#4990E2;
	$gold:					#FFB56A;
	$red:					#E9707F;

@font-face {
	font-family: 			"Faldore-SemiBold";
	src:					url('css/fonts/semibold.ttf');
	src:					url('css/fonts/semibold.woff');
}

@font-face {
	font-family:			"Faldore-Regular";
	src:					url('css/fonts/regular.ttf');
	src:					url('css/fonts/regular.woff');
}

@font-face {
	font-family:			"Faldore-Book";
	src:					url('css/fonts/book.ttf');
	src:					url('css/fonts/book.woff');
}

@font-face {
	font-family:			"Faldore-Light";
	src:					url('css/fonts/light.ttf');
	src:					url('css/fonts/light.woff');
}

* {
	box-sizing:				border-box;
}

body {
	margin:					0;
	padding-top:			60px; // used to hide header
	box-sizing: 			border-box;
}

h1, h2, h3, p {
	margin:					0;
	line-height:			1em;
}

button {
	background-color:		white;
	border:					none;
}

a {
	text-decoration:		none;
	color:					inherit;
}

#content {
	display:				block;
	padding-top:			20px;
}

#footer {
	padding:				20px 0 20px 0;
	background-color:		$gold;
}