#header {
	z-index:				1;
	height:					60px;
	background-color:		white;
	position:				fixed;
	top:					0;
	width:					100%;
	border-bottom:			5px solid $blue;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: top 0.2s ease-in-out;

}

#header button {
	position:				absolute;
	top:					50%;
	left:					50%;
	transform:				translate(-50%,-50%);
	border:					none;
	background-color:		white;
}

#header a:first-child {
	color:					$blue;
	font-family:			$FL;
	font-size:				1.3em;
}

#header a:first-child:active {
	color:					$red;
}

#menu-pop-up {
	z-index:				1;
	height:					310px;
	width:					230px;
	border-radius:			6px;
	border:					.01em solid $blue;
	background-color:		white;
	position:				fixed;
	top:					50%;
	left:					-50%; // used to hide initially
	transform:				translate(-50%,-50%);
}

.menu-closed {
}

.menu-open {
	animation:				slide-in 0.5s forwards;
}

.nav-up {
	top:					-60px;
}

#menu-pop-up button:last-child {
	background-color:		white;
	border:					none;
}

#menu-pop-up a:active {
	color:					$red;
}

.menu-items {
	color:					$blue;
	font-family:			$FR;
	font-size:				1.5em;
	border-bottom:			1px solid $blue;
}

#menu-contents {
	position:				absolute;
	top:					50%;
	left:					50%; // used to hide initially
	transform:				translate(-50%,-50%);

}

#menu-pop-up button {
	font-family:			$FR;
	font-size:				1.3em;
	color:					$red;
	position:				relative;
	left:					-7px;
	text-decoration:		underline;
}

#menu-pop-up button:hover {
	color:					$gold;
}





