#header {
	z-index:				1;
	height:					60px;
	background-color:		white;
	position:				fixed;
	top:					0;
	width:					100%;
}

#header a:first-child {
	color:					$blue;
	font-family:			$FL;
	position:				absolute;
	top:					50%;
	left:					50%;
	transform:				translate(-50%,-50%);
}

#header a:first-child:hover {
	color:					$gold;
}

#header a:first-child:active {
	color:					$red;
}
