#header {
	z-index:				1;
}

#header_nav {
	position:				relative;
	top:					35%;
	width:					100%;
	padding:				0px 10px 0px 10px;
}

.default {
	background-color:		$blue;
	width:					100%;
	height:					60px;
	transition:				top .2s ease-in-out;
	position:				fixed;
	top:					0;
}

.slide_up {
	transition:				top .2s ease-in-out;
	position:				absolute;
	top:					-50px;
}

#header h1 {
	font-family:			$HELV;
	font-weight:			700;
	display:				inline-block;
	font-size:				1.15em;
}

#header h1 a {
	text-decoration:		none;
	color:					white;
}

#pipes_button { 
	display:				inline-block;
	float:					right;
	color:					white;
	font-size:				1.15em;
	position:				relative;
	top:					-3.5px;
}

#header ul a {
	display:				inline-block;
	font-family:			$FB;
	font-size:				2.8em;
	position:				relative;
	top:					30%;
	text-align:				center;
	margin:					auto;
}

#header ul a:hover,
#header ul a:active {
	text-decoration: 		underline;
}

.show_menu {
	z-index:				1;
	background-color:		white;
	opacity:				.97;
	position:				relative;
	top:					22px;
	height:					100vh;
	transition-duration:	.4s;
}

.no_menu {
	position:				relative;
	left:					-1200px;
	transition-duration:	.6s;
}

#menuitems {
	position:				absolute;
	top:					35%;
	left:					52%;
	transform:				translate(-50%,-50%);
	width:					90%;
	margin:					auto;
}

#mag {
	color:					$blue;
}

#extras {
	color:					$red;
}