.post-box {
	width:				90%;
	margin:				auto;
}

.post-box img {
	width:				100%;
	height:				auto;
	margin:				auto auto 10px auto;
}

.post-content {
	border-left:		20px solid $blue;
	padding:			20px;
	margin:				auto 10px 20px 0px;
}

.title-link {
	font-family:		$FSB;
	font-size:			1.7em;
	line-height:		1em;
	color:				$blue;
}

.title-link:active {
	color:				$red;
}

.post-box p:last-child {
	font-family:		$HELV;
	color:				$blue;
	line-height:		1em;
	margin-top:			10px;
	width:				90%;
}