#philo_atf {
	background:				linear-gradient($blue, white);
	height:					100vh;
}

#philo_atf p {
	font-family: 			$FRL;
	font-size:				1.2em;
	color:					white;
	width:					80%;
	margin:					auto;
	position:				absolute;
	top:					50%;
	left:					50%;
	transform: 				translate(-50%,-50%);
}