#philo_atf {
	height:					100vh;
}

#philo_atf p {
	font-family: 			$FSB;
	font-weight:			bold;
	font-size:				1em;
	color:					$red;
	width:					80%;
	margin:					auto;
	position:				absolute;
	top:					50%;
	left:					50%;
	transform: 				translate(-50%,-50%);
}