@media screen and (min-width:580px) {

	#content {
		padding-top:		20px;
	}

	.post-box {
		width:				90%;
		margin:				auto;
	}

	.post-content {
		margin:				auto auto 20px auto;
	}

	.single-article p {
		width:				80%;
	}

	.article-catch h2 {
		width:				80%;
		margin:				auto;
	}
	.single-article h2,
	.single-article blockquote p {
		width:				80%;
	}
}

@media screen and (min-width:749px){
	.single-article p,
	.article-catch h2,
	.single-article blockquote p,
	.single-article h2 {
		width:				670px;
	}

}

@media screen and (min-width:800px){

	#content {
		padding-top:		40px;
	}

	.post-box {
		display:			inline-block;
		width:				45%;
		float:				left;
		margin:				auto 20px 50px 20px;
	}

	.post-content {
		margin:				auto;
	}

	.single-article p {
		font-size:			1.2em;
	}

	.single-article blockquote p {
		font-size:			2.4em;
		margin:				50px auto 50px auto;
	}

}