#post_atf {
	position:				static;
	padding:				50px 0 0 0;
}

#post_atf h1 {
	width:					87%;
	margin:					auto;
	font-family:			$FSB;
	text-align:				center;
	color:					$red;
	font-size:				2.7em;
	line-height: 			1em;
}

#post_atf p{
	width:					80%;
	margin:					auto;
	text-align:				center;
	font-family:			$HELV;
	font-weight:			100;
	font-size:				.93em;
}

#single_article {
	margin-bottom:			20%;
}

#single_article img {
	width:					100%;
	height:					auto;
	padding:				5% 0 5% 0;
}

#readmore {
	width:					50%;
	margin:					auto;
	text-align:				center;
	padding:				10px;
	color:					$red;
	font-family:			$FSB;
	animation:				bounce .5s infinite;
	animation-direction:	alternate-reverse;
}

#single_article > p {
	width:					93%;
	font-size:				1em;
	line-height:			1.2em;
	font-family:			$FRL;
	margin:					auto;
	padding:				1% 0px 1% 0px;
}

#single_article h2 {
	font-family:			$HELV;
	font-size:				1.4em;
	font-weight:			600;
	width:				93%;
	margin:				auto;
	padding:				20px 0px 10px 0px;
}

blockquote {
	border-left:			12px solid $gold;
	padding:				15px;
	position:				relative;
	left:					5%;
	margin:					20px auto 20px auto;
}

blockquote p {
	font-family:			$FSB;
	color:					$gold;
	font-size:				1.5em;
	line-height:			1em;
	width:					90%;
}


#socialbuttons p {
	width:				60px;
	margin:				50px auto 50px auto;
}










