
.post-atf {
	margin: 40px auto auto auto;
}
.post-atf img {
	width:				100%;
	height:				auto;
}

.post-atf h1 {
	font-family:		$FSB;
	color:				$red;
	font-size:			1.5em;
	margin:				auto auto 10px 20px;
}

.post-atf h2 {
	width:				80%;
	font-family:		$FSB;
	font-size:			1.1em;
	color:				$red;
	margin:				100px auto 20px 20px;
}

.post-atf h3 {
	font-family:		$HELV;
	font-weight:		100;
	font-size:			.85em;
	color:				$red;
	margin:				auto auto 20px 20px;

}

.post-atf h4 {
	font-family:		$HELV;
	color:				$red;
	font-weight:		100;
	font-size:			.75em;
	margin:				auto auto auto 20px;
} 

.post-atf h4:last-child {
	margin-bottom:		100px;
}

