* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding-top: 60px;
  box-sizing: border-box; }

h1, h2, h3, p {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

#content {
  display: block; }

#footer {
  padding: 20px 0 20px 0;
  background-color: #E9707F; }

.thin-helv {
  font-family: "Helvetica", sans-serif;
  font-weight: 100; }

#header {
  z-index: 1; }

.default {
  background-color: #4951FF;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  transition: top .2s ease-in-out; }

.slide_up {
  transition: top .2s ease-in-out;
  position: absolute;
  top: -50px; }

#header h1 {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 1.15em;
  padding-left: 20px; }

#header h1 a {
  position: relative;
  top: 20px;
  text-decoration: none;
  color: white; }

#header img {
  position: absolute;
  height: 15px;
  right: 5%;
  top: 39%; }

#header ul li {
  margin: auto;
  text-align: left;
  position: relative;
  top: 20px;
  left: -20px;
  padding: 3em 0 1em 0; }

#header ul li,
#header ul li a {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  font-family: "Source Serif Pro", serif;
  font-size: 1.3em; }

.show_menu {
  z-index: 1;
  background-color: white;
  opacity: .97;
  position: relative;
  top: 22px;
  height: 100vh;
  transition-duration: .4s; }

.no_menu {
  position: relative;
  top: -500px;
  transition-duration: .6s; }

#mag {
  color: #4B4083; }

#extras {
  color: #E9707F; }

#info {
  color: #FFB56A; }

.post_box {
  position: relative; }

.post_box img {
  width: 100%;
  height: auto; }

.post_content h2 {
  padding: 0 0 2% 0; }

.post_content {
  width: 90%;
  padding: 2% 0 5% 5%; }

.title_link {
  font-family: "Source Serif Pro", serif;
  font-size: .85em; }

.title_link:link {
  color: #E9707F; }

.title_link:visited {
  color: #FFB56A; }

.title_link:hover {
  color: #4B4083; }

.title_link:active {
  color: #FFB56A; }

.post_content p {
  font-size: .8em;
  padding: 2px 0px 2px 0px;
  width: 75%;
  font-weight: 100;
  font-family: "Helvetica", sans-serif; }

.date {
  font-size: .7em;
  font-style: italic; }

#post_atf {
  position: relative;
  background-color: #4951FF;
  height: 100vh; }

#atf_content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white; }

#post_atf h1 {
  width: 85%;
  margin: auto;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  color: #E9707F;
  padding-top: 40px;
  font-size: 1.6em;
  margin-bottom: 10px; }

#post_atf p {
  width: 75%;
  margin: auto;
  text-align: center;
  color: #E9707F;
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
  font-size: .9em; }

#readmore {
  padding-top: 40px;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 1.6em;
  text-decoration: underline;
  animation: fade 2s infinite; }

#single_article img {
  width: 100% !important;
  height: auto !important; }

#single_article p {
  width: 95%;
  font-family: "Frank Ruhl Libre", serif;
  margin: auto;
  padding: 10px 0px 10px 0px; }

#single_article .p3 {
  font-family: "Arial", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  padding: 20px 0px 10px 0px; }

blockquote {
  border-left: 10px solid #FFB56A;
  padding: 15px;
  position: relative;
  left: -5%; }

blockquote .p1 {
  font-family: "Frank Ruhl Libre", serif;
  color: #FFB56A;
  font-size: 1.4em;
  line-height: 1em; }

#footer p {
  width: 90%;
  margin: auto;
  font-family: "Helvetica", sans-serif;
  font-size: .7em;
  color: white;
  padding: 5px 0px 5px 0px; }

@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@media screen and (min-width: 500px) and (max-width: 670px) {
  #content {
    padding-top: 20px;
    width: 80%;
    margin: auto; }

  .post_content {
    padding: 2% 0 5% 0; }

  .post_content p {
    width: 70%; } }
@media screen and (min-width: 670px) and (max-width: 800px) {
  #content {
    width: 90%;
    margin: auto;
    padding-top: 20px; }

  .post_content {
    display: inline-block;
    width: 38%;
    height: 100%;
    position: absolute;
    top: 0; }

  .post_box img {
    display: inline-block;
    width: 60%;
    height: auto; }

  .post_content h2 a {
    font-size: .8em; } }
@media screen and (min-width: 800px) {
  #content {
    padding-top: 20px; }

  .post_box {
    width: 80%;
    margin: auto; }

  .post_content {
    display: inline-block;
    width: 40%;
    height: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0; }

  .post_box img {
    display: inline-block;
    width: 60%;
    height: auto;
    padding: 0; }

  .post_content p {
    width: 80%; }

  .post_content p:last-child {
    padding-top: 20px; } }

/*# sourceMappingURL=style.css.map */
