$header_title_FS: 			"Helvetica", sans-serif;
$reader_FS: 				"Frank Ruhl Libre", serif;
$post_title_FS:				"Source Serif Pro", serif;
$menu_FS:					"Arial", sans-serif;

$new_blue:					#4951FF;
$new_purple:				#4B4083;
$new_tan:					#FFB56A;
$new_red:					#E9707F;

* {
	box-sizing:				border-box;
}

body {
	margin:					0;
	padding-top:			60px;
	box-sizing: 			border-box;
}

h1, h2, h3, p {
	margin:					0;
}

a {
	text-decoration:		none;
	color:					inherit;
}

#content {
	display:				block;
}

#footer {
	padding:				20px 0 20px 0;
	background-color:		$new_red;
}

.thin-helv {
	font-family:			$header_title_FS;
	font-weight:			100;
}