#header {
	z-index:				1;
}

#header_nav {
	position:				relative;
	top:					35%;
	width:					100%;
	padding:				0px 10px 0px 10px;
}

.default {
	background-color:		$new_blue;
	width:					100%;
	height:					60px;
	position:				fixed;
	top:					0;
	transition:				top .2s ease-in-out;
}

/// CURRENT ===== FIX THE POSITION OF THE MOBILE MENU ICON ///

.slide_up {
	transition:				top .2s ease-in-out;
	position:				absolute;
	top:					-50px;
}

#header h1 {
	font-family:			$header_title_FS;
	font-weight:			700;
	display:				inline-block;
	font-size:				1.15em;
}

#header h1 a {
	text-decoration:		none;
	color:					white;
}

#pipes_button { 
	float:					right;
	color:					white;
	height:					auto;
	font-size:				1.15em;
	position:				relative;
	top:					-4px;
	padding:				0px 2	% 0px 0px;
}

#header ul li {
	margin:					auto;
	text-align:				left;
	position:				relative;
	top:					20px;
	left:					-20px;
	padding:				3em 0 1em 0;
}

#header ul li,
#header ul li a {
	list-style-type:		none;
	text-decoration:		none;
	text-align:				left;
	font-family:			$post_title_FS;
	font-size:				1.3em;
}

.show_menu {
	z-index:				1;
	background-color:		white;
	opacity:				.97;
	position:				relative;
	top:					22px;
	height:					100vh;
	transition-duration:	.4s;
}

.no_menu {
	position:				relative;
	top:					-500px;
	transition-duration:	.6s;
}

.menu_desc {
	font-size:.6em;
	font-style:italic
}

#mag {
	color:					$new_purple;
}
#extras {
	color:					$new_red;
}
#info {
	color:					$new_tan;				
}