.post_box {
	position:				relative;
}

.post_box img {
	width:					100%;
	height:					auto;
}

.post_content h2 {
	padding:				0 0 2% 0; 					
}

.post_content {
	width:					90%;
	padding:				2% 0 5% 5%;
}

.title_link {
	font-family:			$post_title_FS;
	font-size:				.85em;
}

.title_link:link {
	color:					$new_red;
	opacity:				.82;
}

.title_link:visited {
	color:					$new_red;
}

.title_link:hover {
	color:					$new_tan;
}

.title_link:active {
	color:					$new_tan;
}

.post_content p {
	font-size:				.8em;
	padding:				2px 0px 2px 0px; 
	width:					75%;
	font-weight:			100;
	font-family:			$header_title_FS;
}

.date {
	font-size:				.7em;
	font-style:				italic;
}