@media screen and (min-width:500px) and (max-width:670px){
	#content {
		padding-top:			20px;
		width:					80%;
		margin:					auto;	
	}

	.post_content {
		padding:				2% 0 5% 0;
	}

	.post_content p {
		width:					70%;
	}
}

@media screen and (min-width:670px) and (max-width:800px) {

	#content {
		width:					90%;
		margin:					auto;
		padding-top:			20px;
	}

	.post_content {
		display:				inline-block;
		width:					38%;
		height:					100%;
		position:				absolute;
		top:					0;
	}

	.post_box img {
		display:				inline-block;
		width:					60%;
		height:					auto;
	}

	.post_content h2 a {
		font-size:				.8em;
	}

}

@media screen and (min-width:800px) {

	#content {
		padding-top:			20px;
	}

	.post_box {
		width:					80%;
		margin:					auto;		
	}

	.post_content {
		display:				inline-block;
		width:					40%;
		height:					100%;
		height:					auto;
		position:				absolute;
		top:					0;
		right:					0;
	}

	.post_box img {
		display:				inline-block;		
		width:					60%;
		height:					auto;
		padding:				0;
	}

	.post_content p {
		width:					80%;
	}

	.post_content p:last-child {
		padding-top:			20px;
	}
}