
@media screen and (min-width:500px) and (max-width:670px) {

	// START HEADER //

	#header ul li,
	#header ul li a {
		text-align:				center;
		font-size:				1.4em;
	}

	// END HEADER //

	// START INDEX PAGE //

	.post_box {
		width:					90%;
		margin:					20px auto auto auto;
	}

	.post_content {
		padding:				2% 0 5% 0;
	}

	.post_content p {
		width:					70%;
	}

	// END INDEX PAGE //

	// START SINGLE PAGE //

	#post_atf h1 {
		font-size:				3.2em;
	}

	#post_atf p {
		font-size:				.8em;
	}

	blockquote {
		width:					85%;
		left:					.1%;
	}

	blockquote p {
		font-size:				1.8em;
	}

	#single_article { 
		width:					90%;
		margin:					auto;
	}

	#single_article > .p1 {
		font-size:				1.15em;
	}

	// END SINGLE PAGE //

	// START FOOTER PAGE //

	#footer p {
		width:					70%;

	}

	// END FOOTER PAGE //

	// START PHILO //

	#philo_atf p {
		font-size:				1.4em;
		width:					60%;
	}

	// END PHILO //

}

@media screen and (min-width:670px) and (max-width:800px) {

	// START HEADER //

	#header_nav h1 {
		display:				block;
		text-align:				center;
	}

	#pipes_button {
		position:				relative;
		top:					-25px;
	}

	#header ul li,
	#header ul li a {
		text-align:				center;
		font-size:				1.6em;
	}

	// END HEADER //

	// START INDEX PAGE //

	.post_box {
		width:					90%;
		margin:					20px auto auto auto;
	}

	.post_content {
		display:				inline-block;
		width:					38%;
		height:					100%;
		position:				absolute;
		top:					0;
	}

	.post_box img {
		display:				inline-block;
		width:					60%;
		height:					auto;
	}

	.post_content h2 a {
		font-size:				.8em;
	}

	// END INDEX PAGE //

	// START SINGLE PAGE //

	#post_atf h1 {
		font-size:				3.3em;
		width:					70%;
	}

	#post_atf p {
		width:					60%;
		font-size:				.9em;
	}

	blockquote {
		width:					80%;
		left:					1%;
	}

	blockquote p {
		font-size:				1.8em;
	}

	#single_article {
		width:					85%;
		margin:					auto;
	}

	#single_article > .p1 {
		font-size:				1.2em;
	}

	#single_article .p3 {
		font-size:				1.6em;
	}

	// END SINGLE PAGE //


	// START FOOTER PAGE //

	#footer p {
		width:					60%;
	}

	// END FOOTER PAGE //

	// START PHILO //

	#philo_atf p {
		font-size:				1.5em;
		width:					60%;
	}

	// END PHILO //

}

@media screen and (min-width:800px) {

	// START HEADER //

	#header_nav h1 {
		display:				block;
		text-align:				center;
	}

	#pipes_button {
		position:				relative;
		top:					-25px;
	}

	#header ul li,
	#header ul li a {
		text-align:				center;
		font-size:				1.5em;
	}

	// END HEADER //

	// START INDEX PAGE //

	.post_box {
		width:					80%;
		margin:					20px auto auto auto;		
	}

	.post_content {
		display:				inline-block;
		width:					40%;
		height:					100%;
		height:					auto;
		position:				absolute;
		top:					0;
		right:					0;
	}

	.post_box img {
		display:				inline-block;		
		width:					60%;
		height:					auto;
		padding:				0;
	}

	.post_content p {
		width:					80%;
	}

	.post_content p:last-child {
		padding-top:			20px;
	}

	// END INDEX PAGE //

	// START SINGLE PAGE //

	#post_atf h1 {
		font-size:				3.3em;
		width:					70%;
	}

	#post_atf p {
		width:					60%;
		font-size:				1em;
	}

	blockquote {
		left:					2%;
		width:					85%;
	}

	blockquote p {
		font-size:				1.8em;
	}

	#single_article {
		width:					77%;
		margin:					auto;
	}

	#single_article > .p1 {
		font-size:				1.2em;
	}

	// END SINGLE PAGE //

	// START FOOTER PAGE //

	#footer p {
		width:					40%;
	}

	// END FOOTER PAGE //

	// START PHILO //

	#philo_atf p {
		font-size:				2em;
		width:					60%;
	}

	// END PHILO //
}

@media screen and (min-width:1000px) {
	#single_article { 
		width:					70%;
		margin:					auto;
	}
}






