#post_atf {
	position:				relative;
	background:				linear-gradient($new_blue, white);
	height:					100vh;
}

#atf_content {
	position:				absolute;
	top:					50%;
	left:					50%;
	transform:				translate(-50%,-50%);
	width:					90%;
}

#post_atf h1 {
	width:					85%;
	margin:					auto;
	font-family:			$post_title_FS;
	text-align:				center;
	color:					white;
	padding-top:			40px;
	font-size:				2.5em;
	margin-bottom:			10px;
}

#post_atf p{
	width:					75%;
	margin:					auto;
	text-align:				center;
	color:					white;
	font-family:			$header_title_FS;
	font-weight:			100;
	font-size:				.7em;
}

#readmore {
	padding-top:			40px;
	font-family:			$header_title_FS;
	color:					white;
	font-weight:			700;
	font-size:				3em;
	animation:				bounce .25s infinite;
	animation-direction:	alternate-reverse;
}

#single_article img {
	width:					100% !important;
	height:					auto !important;
}

#single_article > p {
	width:					90%;
	font-size:				1.13em;
	font-family:			$reader_FS;
	margin:					auto;
	padding:				1% 0px 1% 0px;
}

#single_article .p3 {
	font-family:			$menu_FS;
	font-size:				1.4em;
	font-weight:			600;
	padding:				20px 0px 10px 0px;
}

blockquote {
	border-left:			10px solid $new_tan;
	padding:				15px;
	position:				relative;
	left:					-4%;
}
blockquote .p1 {
	font-family:			$reader_FS;
	color:					$new_tan;
	font-size:				1.4em;
	line-height:			1em;
}