#post_atf {
	position:				relative;
	background:				linear-gradient($new_blue, white);
	height:					100vh;
}

#atf_content {
	position:				absolute;
	top:					40%;
	left:					50%;
	transform:				translate(-50%,-50%);
	width:					100%
}

#post_atf h1 {
	width:					87%;
	margin:					auto;
	font-family:			$post_title_FS;
	text-align:				center;
	color:					white;
	font-size:				2.7em;
	line-height: 			1em;
}

#post_atf p{
	width:					80%;
	margin:					auto;
	text-align:				center;
	color:					white;
	font-family:			$header_title_FS;
	font-weight:			100;
	font-size:				.93em;
}

#single_article {
	margin-bottom:			20%;
}

#single_article img {
	width:					100%;
	height:					auto;
	padding:				5% 0 5% 0;
}

#single_article > p {
	width:					93%;
	font-size:				1.13em;
	font-family:			$reader_FS;
	margin:					auto;
	padding:				1% 0px 1% 0px;
}

#single_article .p3 {
	font-family:			$menu_FS;
	font-size:				1.5em;
	font-weight:			600;
	padding:				20px 0px 10px 0px;
}

blockquote {
	border-left:			10px solid $new_tan;
	padding:				15px;
	position:				relative;
	left:					-4%;
}
blockquote .p1 {
	font-family:			$reader_FS;
	color:					$new_tan;
	font-size:				1.4em;
	line-height:			1em;
}